.all-two {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 25px;
}

.two-img {
    position: relative;

}

.two-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    button{
        padding: 5px 35px;
        background-color: white;
        color: black;
        font-weight: 600;
    }
}