.lat{
    width: 100%;
    background-color: #F2F2F2;
}
.lat-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    p{
        font-weight: 800;
        font-size: 20px;
    }
}
.lat-inp{
    margin-top: 45px;
    margin-bottom: 30px;
    display: flex;
    input{
        padding: 10px 20px;
    }
   
}